Tools/XML_VALIDATOR/XSD/EAP-Schemas/03-NominationAndMatching-schemas/deliveryorderdocument.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns="urn:easeegas.eu:edigas:nominationandmatching:deliveryorderdocument:5:1" xmlns:cimp="http://www.iec.ch/cimprofile" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:easeegas.eu:edigas:nominationandmatching:deliveryorderdocument:5:1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="urn-easee-gas-eu-edigas-nominationandmatching-deliveryorderdocument-5-1-restricted-codes.xsd"/>
	<xs:element name="DeliveryOrder_Document" type="DeliveryOrder_Document"/>
	<xs:simpleType name="AccountType-base" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#String">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AccountType" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#String">
		<xs:simpleContent>
			<xs:extension base="AccountType-base">
				<xs:attribute name="codingScheme" type="CodingSchemeTypeList" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="PartyType-base" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#String">
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PartyType" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#String">
		<xs:simpleContent>
			<xs:extension base="PartyType-base">
				<xs:attribute name="codingScheme" type="CodingSchemeTypeList" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Account" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#Account">
		<xs:sequence>
			<xs:element name="internalAccount" type="AccountType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#Account.internalAccount"/>
			<xs:element name="internalAccountTso" type="PartyType" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#Account.internalAccountTso"/>
			<xs:element name="externalAccount" type="AccountType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#Account.externalAccount"/>
			<xs:element name="externalAccountTso" type="PartyType" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#Account.externalAccountTso"/>
			<xs:element name="InformationOrigin_TimeSeries" type="InformationOrigin_TimeSeries" minOccurs="1" maxOccurs="unbounded" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#Account.InformationOrigin_TimeSeries"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="MeasurementPointType-base" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#String">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MeasurementPointType" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#String">
		<xs:simpleContent>
			<xs:extension base="MeasurementPointType-base">
				<xs:attribute name="codingScheme" type="CodingSchemeTypeList" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="UnitOfMeasureType" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#UnitOfMeasureType">
		<xs:restriction base="UnitOfMeasureTypeList"/>
	</xs:simpleType>
	<xs:complexType name="ConnectionPoint" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#ConnectionPoint">
		<xs:sequence>
			<xs:element name="identification" type="MeasurementPointType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#ConnectionPoint.identification"/>
			<xs:element name="measureUnit.code" type="UnitOfMeasureType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#MeasureUnit.code"/>
			<xs:element name="Account" type="Account" minOccurs="1" maxOccurs="unbounded" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#ConnectionPoint.Account"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="IdentificationType" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#IdentificationType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Version_Integer" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#Integer">
		<xs:restriction base="xs:integer">
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DocumentType" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#DocumentType">
		<xs:restriction base="DocumentTypeList"/>
	</xs:simpleType>
	<xs:simpleType name="TimeIntervalType" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#String">
		<xs:restriction base="xs:string">
			<xs:pattern value="(((((20[0-9]{2})[\-](0[13578]|1[02])[\-](0[1-9]|[12][0-9]|3[01])|([0-9]{4})[\-]((0[469])|(11))[\-](0[1-9]|[12][0-9]|30))T(([01][0-9]|2[0-3]):[0-5][0-9])Z/)|(([13579][26][02468][048]|[13579][01345789](0)[48]|[13579][01345789][2468][048]|[02468][048][02468][048]|[02468][1235679](0)[48]|[02468][1235679][2468][048]|[0-9][0-9][13579][26])[\-](02)[\-](0[1-9]|1[0-9]|2[0-9])T(([01][0-9]|2[0-3]):[0-5][0-9])Z/)|(([13579][26][02468][1235679]|[13579][01345789](0)[01235679]|[13579][01345789][2468][1235679]|[02468][048][02468][1235679]|[02468][1235679](0)[01235679]|[02468][1235679][2468][1235679]|[0-9][0-9][13579][01345789])[\-](02)[\-](0[1-9]|1[0-9]|2[0-8])T(([01][0-9]|2[0-3]):[0-5][0-9])Z/))(((([0-9]{4})-(0[13578]|1[02])[\-](0[1-9]|[12][0-9]|3[01])|([0-9]{4})[\-]((0[469])|(11))[\-](0[1-9]|[12][0-9]|30))T(([01][0-9]|2[0-3]):[0-5][0-9])Z)|(([13579][26][02468][048]|[13579][01345789](0)[48]|[13579][01345789][2468][048]|[02468][048][02468][048]|[02468][1235679](0)[48]|[02468][1235679][2468][048]|[0-9][0-9][13579][26])[\-](02)[\-](0[1-9]|1[0-9]|2[0-9])T(([01][0-9]|2[0-3]):[0-5][0-9])Z)|(([13579][26][02468][1235679]|[13579][01345789](0)[01235679]|[13579][01345789][2468][1235679]|[02468][048][02468][1235679]|[02468][1235679](0)[01235679]|[02468][1235679][2468][1235679]|[0-9][0-9][13579][01345789])[\-](02)[\-](0[1-9]|1[0-9]|2[0-8])T(([01][0-9]|2[0-3]):[0-5][0-9])Z)))"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReferenceType" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#ReferenceType">
		<xs:restriction base="ReferenceTypeList"/>
	</xs:simpleType>
	<xs:simpleType name="RoleType" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#RoleType">
		<xs:restriction base="RoleTypeList"/>
	</xs:simpleType>
	<xs:simpleType name="LocationType-base" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#String">
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LocationType" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#String">
		<xs:simpleContent>
			<xs:extension base="LocationType-base">
				<xs:attribute name="codingScheme" type="CodingSchemeTypeList" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DeliveryOrder_Document" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#Document">
		<xs:sequence>
			<xs:element name="identification" type="IdentificationType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#Document.identification"/>
			<xs:element name="version" type="Version_Integer" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#Document.version"/>
			<xs:element name="type" type="DocumentType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#Document.type"/>
			<xs:element name="creationDateTime" type="xs:dateTime" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#Document.creationDateTime"/>
			<xs:element name="validityPeriod" type="TimeIntervalType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#Document.validityPeriod"/>
			<xs:element name="contractReference" type="IdentificationType" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#Document.contractReference"/>
			<xs:element name="contractType" type="ReferenceType" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#Document.contractType"/>
			<xs:element name="issuer_MarketParticipant.identification" type="PartyType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#MarketParticipant.identification"/>
			<xs:element name="issuer_MarketParticipant.marketRole.code" type="RoleType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#MarketRole.code"/>
			<xs:element name="recipient_MarketParticipant.identification" type="PartyType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#MarketParticipant.identification"/>
			<xs:element name="recipient_MarketParticipant.marketRole.code" type="RoleType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#MarketRole.code"/>
			<xs:element name="applicationContext" type="LocationType" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#Document.applicationContext"/>
			<xs:element name="ConnectionPoint" type="ConnectionPoint" minOccurs="1" maxOccurs="unbounded" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#Document.ConnectionPoint"/>
		</xs:sequence>
		<xs:attribute name="release" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:simpleType name="BusinessType" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#BusinessType">
		<xs:restriction base="BusinessTypeList"/>
	</xs:simpleType>
	<xs:complexType name="InformationOrigin_TimeSeries" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#TimeSeries">
		<xs:sequence>
			<xs:element name="type" type="BusinessType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#TimeSeries.type"/>
			<xs:element name="timeStamp_DateTime.dateTime" type="xs:dateTime" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#DateTime.dateTime"/>
			<xs:element name="Period" type="Period" minOccurs="1" maxOccurs="unbounded" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#TimeSeries.Period"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="GasDirectionType" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#GasDirectionType">
		<xs:restriction base="GasDirectionTypeList"/>
	</xs:simpleType>
	<xs:simpleType name="QuantityType" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#QuantityType">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Period" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#Period">
		<xs:sequence>
			<xs:element name="timeInterval" type="TimeIntervalType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#Period.timeInterval"/>
			<xs:element name="direction.code" type="GasDirectionType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#GasDirection.code"/>
			<xs:element name="total_Quantity.amount" type="QuantityType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#Quantity.amount"/>
			<xs:element name="firm_Quantity.amount" type="QuantityType" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#Quantity.amount"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
