Tools/XML_VALIDATOR/XSD/EAP-Schemas/03-NominationAndMatching-schemas/NominationAuthorisationDocument.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns="urn:easeegas.eu:edigas:nominationandmatching:nominationauthorisationdocument:5:1" xmlns:cimp="http://www.iec.ch/cimprofile" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:easeegas.eu:edigas:nominationandmatching:nominationauthorisationdocument:5:1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="urn-easee-gas-eu-edigas-nominationandmatching-nominationauthorisationdocument-5-1-restricted-codes.xsd"/>
	<xs:element name="NominationAuthorisation_Document" type="NominationAuthorisation_Document"/>
	<xs:simpleType name="PartyType-base" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#String">
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PartyType" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#String">
		<xs:simpleContent>
			<xs:extension base="PartyType-base">
				<xs:attribute name="codingScheme" type="CodingSchemeTypeList" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="AccountType-base" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#String">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AccountType" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#String">
		<xs:simpleContent>
			<xs:extension base="AccountType-base">
				<xs:attribute name="codingScheme" type="CodingSchemeTypeList" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="TimeIntervalType" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#String">
		<xs:restriction base="xs:string">
			<xs:pattern value="(((((20[0-9]{2})[\-](0[13578]|1[02])[\-](0[1-9]|[12][0-9]|3[01])|([0-9]{4})[\-]((0[469])|(11))[\-](0[1-9]|[12][0-9]|30))T(([01][0-9]|2[0-3]):[0-5][0-9])Z/)|(([13579][26][02468][048]|[13579][01345789](0)[48]|[13579][01345789][2468][048]|[02468][048][02468][048]|[02468][1235679](0)[48]|[02468][1235679][2468][048]|[0-9][0-9][13579][26])[\-](02)[\-](0[1-9]|1[0-9]|2[0-9])T(([01][0-9]|2[0-3]):[0-5][0-9])Z/)|(([13579][26][02468][1235679]|[13579][01345789](0)[01235679]|[13579][01345789][2468][1235679]|[02468][048][02468][1235679]|[02468][1235679](0)[01235679]|[02468][1235679][2468][1235679]|[0-9][0-9][13579][01345789])[\-](02)[\-](0[1-9]|1[0-9]|2[0-8])T(([01][0-9]|2[0-3]):[0-5][0-9])Z/))(((([0-9]{4})-(0[13578]|1[02])[\-](0[1-9]|[12][0-9]|3[01])|([0-9]{4})[\-]((0[469])|(11))[\-](0[1-9]|[12][0-9]|30))T(([01][0-9]|2[0-3]):[0-5][0-9])Z)|(([13579][26][02468][048]|[13579][01345789](0)[48]|[13579][01345789][2468][048]|[02468][048][02468][048]|[02468][1235679](0)[48]|[02468][1235679][2468][048]|[0-9][0-9][13579][26])[\-](02)[\-](0[1-9]|1[0-9]|2[0-9])T(([01][0-9]|2[0-3]):[0-5][0-9])Z)|(([13579][26][02468][1235679]|[13579][01345789](0)[01235679]|[13579][01345789][2468][1235679]|[02468][048][02468][1235679]|[02468][1235679](0)[01235679]|[02468][1235679][2468][1235679]|[0-9][0-9][13579][01345789])[\-](02)[\-](0[1-9]|1[0-9]|2[0-8])T(([01][0-9]|2[0-3]):[0-5][0-9])Z)))"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Active_Account" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#Account">
		<xs:sequence>
			<xs:element name="active_MarketParticipant.identification" type="PartyType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#MarketParticipant.identification"/>
			<xs:element name="externalAccount" type="AccountType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#Account.externalAccount"/>
			<xs:element name="externalAccountTso" type="PartyType" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#Account.externalAccountTso"/>
			<xs:element name="period.timeInterval" type="TimeIntervalType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#Period.timeInterval"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="MeasurementPointType-base" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#String">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MeasurementPointType" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#String">
		<xs:simpleContent>
			<xs:extension base="MeasurementPointType-base">
				<xs:attribute name="codingScheme" type="CodingSchemeTypeList" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ConnectionPoint" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#ConnectionPoint">
		<xs:sequence>
			<xs:element name="identification" type="MeasurementPointType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#ConnectionPoint.identification"/>
			<xs:element name="Active_Account" type="Active_Account" minOccurs="1" maxOccurs="unbounded" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#ConnectionPoint.Active_Account"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="IdentificationType" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#IdentificationType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Version_Integer" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#Integer">
		<xs:restriction base="xs:integer">
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DocumentType" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#DocumentType">
		<xs:restriction base="DocumentTypeList"/>
	</xs:simpleType>
	<xs:simpleType name="ReferenceType" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#ReferenceType">
		<xs:restriction base="ReferenceTypeList"/>
	</xs:simpleType>
	<xs:simpleType name="RoleType" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#RoleType">
		<xs:restriction base="RoleTypeList"/>
	</xs:simpleType>
	<xs:simpleType name="IssuerRoleType" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#RoleType">
		<xs:restriction base="IssuerRoleTypeList"/>
	</xs:simpleType>
	<xs:simpleType name="RecipientRoleType" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#RoleType">
		<xs:restriction base="RecipientRoleTypeList"/>
	</xs:simpleType>
	<xs:simpleType name="LocationType-base" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#String">
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LocationType" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#String">
		<xs:simpleContent>
			<xs:extension base="LocationType-base">
				<xs:attribute name="codingScheme" type="CodingSchemeTypeList" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="NominationAuthorisation_Document" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#Document">
		<xs:sequence>
			<xs:element name="identification" type="IdentificationType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#Document.identification"/>
			<xs:element name="version" type="Version_Integer" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#Document.version"/>
			<xs:element name="type" type="DocumentType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#Document.type"/>
			<xs:element name="creationDateTime" type="xs:dateTime" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#Document.creationDateTime"/>
			<xs:element name="validityPeriod" type="TimeIntervalType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#Document.validityPeriod"/>
			<xs:element name="contractReference" type="IdentificationType" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#Document.contractReference"/>
			<xs:element name="contractType" type="ReferenceType" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#Document.contractType"/>
			<xs:element name="issuer_MarketParticipant.identification" type="PartyType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#MarketParticipant.identification"/>
			<xs:element name="issuer_MarketParticipant.marketRole.code" type="IssuerRoleType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#MarketRole.code"/>
			<xs:element name="recipient_MarketParticipant.identification" type="PartyType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#MarketParticipant.identification"/>
			<xs:element name="recipient_MarketParticipant.marketRole.code" type="RecipientRoleType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#MarketRole.code"/>
			<xs:element name="applicationContext" type="LocationType" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#Document.applicationContext"/>
			<xs:element name="Passive_MarketParticipant" type="Passive_MarketParticipant" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#Document.Passive_MarketParticipant"/>
		</xs:sequence>
		<xs:attribute name="release" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="Passive_Account" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#Account">
		<xs:sequence>
			<xs:element name="internalAccount" type="AccountType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#Account.internalAccount"/>
			<xs:element name="internalAccountTso" type="PartyType" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#Account.internalAccountTso"/>
			<xs:element name="ConnectionPoint" type="ConnectionPoint" minOccurs="1" maxOccurs="unbounded" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#Account.ConnectionPoint"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Passive_MarketParticipant" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#MarketParticipant">
		<xs:sequence>
			<xs:element name="identification" type="PartyType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#MarketParticipant.identification"/>
			<xs:element name="Passive_Account" type="Passive_Account" minOccurs="1" maxOccurs="unbounded" sawsdl:modelReference="http://easee-gas.eu/Edigas/2014/edigas-schema#MarketParticipant.Passive_Account"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
