FullModel_example.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://iec.ch/TC57/61970-552/ModelDescription/1#" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Model.scenarioTime" type="xs:string"/>
  <xs:element name="Model.created" type="xs:string"/>
  <xs:element name="Model.description" type="xs:string"/>
  <xs:element name="Model.version" type="xs:string"/>
  <xs:element name="Model.profile">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="http://entsoe.eu/CIM/Topology/4/1"/>
        <xs:enumeration value="http://entsoe.eu/CIM/EquipmentCore/3/1"/>
        <xs:enumeration value="http://entsoe.eu/CIM/EquipmentOperation/3/1"/>
        <xs:enumeration value="http://entsoe.eu/CIM/EquipmentShortCircuit/3/1"/>
        <xs:enumeration value="http://entsoe.eu/CIM/SteadyStateHypothesis/1/1"/>
        <xs:enumeration value="http://entsoe.eu/CIM/StateVariables/4/1"/>
        <xs:enumeration value="http://entsoe.eu/CIM/GeographicalLocation/2/1"/>
        <xs:enumeration value="http://entsoe.eu/CIM/DiagramLayout/3/1"/>
        <xs:enumeration value="http://entsoe.eu/CIM/TopologyBoundary/3/1"/>
        <xs:enumeration value="http://entsoe.eu/CIM/EquipmentBoundary/3/1"/>
        <xs:enumeration value="http://entsoe.eu/CIM/EquipmentBoundaryOperation/3/1"/>
        <xs:enumeration value="http://entsoe.eu/CIM/Dynamics/3/1"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Model.modelingAuthoritySet" type="xs:string"/>
  <xs:element name="Model.DependentOn">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute ref="rdf:resource" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Model.Supersedes">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute ref="rdf:resource" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="FullModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns:Model.scenarioTime" xmlns:ns="http://iec.ch/TC57/61970-552/ModelDescription/1#"/>
        <xs:element ref="ns:Model.created" xmlns:ns="http://iec.ch/TC57/61970-552/ModelDescription/1#"/>
        <xs:element ref="ns:Model.description" xmlns:ns="http://iec.ch/TC57/61970-552/ModelDescription/1#"/>
        <xs:element ref="ns:Model.version" xmlns:ns="http://iec.ch/TC57/61970-552/ModelDescription/1#"/>
        <xs:element ref="ns:Model.profile" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://iec.ch/TC57/61970-552/ModelDescription/1#"/>
        <xs:element ref="ns:Model.modelingAuthoritySet" xmlns:ns="http://iec.ch/TC57/61970-552/ModelDescription/1#"/>
        <xs:element ref="ns:Model.DependentOn" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://iec.ch/TC57/61970-552/ModelDescription/1#"/>
        <xs:element ref="ns:Model.Supersedes" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://iec.ch/TC57/61970-552/ModelDescription/1#"/>
        <xs:element ref="ns:Model.Domain" xmlns:ns="http://entsoe.eu/CIM/SchemaExtension/3/1#"/>
        <xs:element ref="ns:Model.TSO" xmlns:ns="http://entsoe.eu/CIM/SchemaExtension/3/1#"/>
        <xs:element ref="ns:Model.MergingEntity" xmlns:ns="http://entsoe.eu/CIM/SchemaExtension/3/1#"/>
        <xs:element ref="ns:Model.MessageType" xmlns:ns="http://entsoe.eu/CIM/SchemaExtension/3/1#"/>
        <xs:element ref="ns:Model.ProcessType" xmlns:ns="http://entsoe.eu/CIM/SchemaExtension/3/1#"/>
        <xs:element ref="ns:Model.BusinessType" xmlns:ns="http://entsoe.eu/CIM/SchemaExtension/3/1#"/>
      </xs:sequence>
      <xs:attribute ref="rdf:about" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"/>
    </xs:complexType>
  </xs:element>
</xs:schema>