FullModel_example.xml1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://entsoe.eu/CIM/SchemaExtension/3/1#" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Model.Domain">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="codingscheme"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Model.TSO">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="codingscheme"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Model.MergingEntity">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="codingscheme"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Model.MessageType" type="xs:string"/>
  <xs:element name="Model.ProcessType" type="xs:string"/>
  <xs:element name="Model.BusinessType" type="xs:string"/>
</xs:schema>