Tools/XML_VALIDATOR/XSD/CIM_2019-09-17/iec62325-451-3-capacityAuction_v7_1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ecl="urn:entsoe.eu:wgedi:codelists" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns="iec62325.351:tc57wg16:451-3:capacityspecificationdocument:7:1" xmlns:cimp="http://www.iec.ch/cimprofile" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="iec62325.351:tc57wg16:451-3:capacityspecificationdocument:7:1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="urn:entsoe.eu:wgedi:codelists" schemaLocation="urn-entsoe-eu-wgedi-codelists.xsd"/>
	<xs:element name="CapacityAuctionSpecification_MarketDocument" type="CapacityAuctionSpecification_MarketDocument"/>
	<xs:simpleType name="Position_Integer" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Integer">
		<xs:restriction base="xs:integer">
			<xs:maxInclusive value="999999"/>
			<xs:minInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AttributeInstanceComponent" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#AttributeInstanceComponent">
		<xs:sequence>
			<xs:element name="position" type="Position_Integer" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#AttributeInstanceComponent.position"/>
			<xs:element name="attribute" type="xs:string" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#AttributeInstanceComponent.attribute"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ID_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BusinessKind_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
		<xs:restriction base="ecl:BusinessTypeList"/>
	</xs:simpleType>
	<xs:simpleType name="Category_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
		<xs:restriction base="ecl:CategoryTypeList"/>
	</xs:simpleType>
	<xs:simpleType name="AuctionKind_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
		<xs:restriction base="ecl:AuctionTypeList"/>
	</xs:simpleType>
	<xs:simpleType name="AllocationMode_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
		<xs:restriction base="ecl:AllocationModeTypeList"/>
	</xs:simpleType>
	<xs:simpleType name="PaymentTerms_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
		<xs:restriction base="ecl:PaymentTermsTypeList"/>
	</xs:simpleType>
	<xs:simpleType name="ESMPBoolean_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
		<xs:restriction base="ecl:IndicatorTypeList"/>
	</xs:simpleType>
	<xs:simpleType name="AreaID_String-base" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
		<xs:restriction base="xs:string">
			<xs:maxLength value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AreaID_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
		<xs:simpleContent>
			<xs:extension base="AreaID_String-base">
				<xs:attribute name="codingScheme" type="ecl:CodingSchemeTypeList" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="CapacityContractKind_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
		<xs:restriction base="ecl:ContractTypeList"/>
	</xs:simpleType>
	<xs:simpleType name="MeasurementUnitKind_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
		<xs:restriction base="ecl:UnitOfMeasureTypeList"/>
	</xs:simpleType>
	<xs:simpleType name="CurrencyCode_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
		<xs:restriction base="ecl:CurrencyTypeList"/>
	</xs:simpleType>
	<xs:simpleType name="ESMP_DateTime" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#DateTime">
		<xs:restriction base="xs:dateTime">
			<xs:pattern value="((([0-9]{4})[\-](0[13578]|1[02])[\-](0[1-9]|[12][0-9]|3[01])|([0-9]{4})[\-]((0[469])|(11))[\-](0[1-9]|[12][0-9]|30))T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)|(([13579][26][02468][048]|[13579][01345789](0)[48]|[13579][01345789][2468][048]|[02468][048][02468][048]|[02468][1235679](0)[48]|[02468][1235679][2468][048]|[0-9][0-9][13579][26])[\-](02)[\-](0[1-9]|1[0-9]|2[0-9])T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)|(([13579][26][02468][1235679]|[13579][01345789](0)[01235679]|[13579][01345789][2468][1235679]|[02468][048][02468][1235679]|[02468][1235679](0)[01235679]|[02468][1235679][2468][1235679]|[0-9][0-9][13579][01345789])[\-](02)[\-](0[1-9]|1[0-9]|2[0-8])T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurveType_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
		<xs:restriction base="ecl:CurveTypeList"/>
	</xs:simpleType>
	<xs:simpleType name="ResourceID_String-base" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
		<xs:restriction base="xs:string">
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ResourceID_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
		<xs:simpleContent>
			<xs:extension base="ResourceID_String-base">
				<xs:attribute name="codingScheme" type="ecl:CodingSchemeTypeList" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="YMDHM_DateTime" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#DateTime">
		<xs:restriction base="xs:string">
			<xs:pattern value="((([0-9]{4})[\-](0[13578]|1[02])[\-](0[1-9]|[12][0-9]|3[01])|([0-9]{4})[\-]((0[469])|(11))[\-](0[1-9]|[12][0-9]|30))T(([01][0-9]|2[0-3]):[0-5][0-9])Z)|(([13579][26][02468][048]|[13579][01345789](0)[48]|[13579][01345789][2468][048]|[02468][048][02468][048]|[02468][1235679](0)[48]|[02468][1235679][2468][048]|[0-9][0-9][13579][26])[\-](02)[\-](0[1-9]|1[0-9]|2[0-9])T(([01][0-9]|2[0-3]):[0-5][0-9])Z)|(([13579][26][02468][1235679]|[13579][01345789](0)[01235679]|[13579][01345789][2468][1235679]|[02468][048][02468][1235679]|[02468][1235679](0)[01235679]|[02468][1235679][2468][1235679]|[0-9][0-9][13579][01345789])[\-](02)[\-](0[1-9]|1[0-9]|2[0-8])T(([01][0-9]|2[0-3]):[0-5][0-9])Z)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ESMP_DateTimeInterval" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#DateTimeInterval">
		<xs:sequence>
			<xs:element name="start" type="YMDHM_DateTime" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#DateTimeInterval.start"/>
			<xs:element name="end" type="YMDHM_DateTime" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#DateTimeInterval.end"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Auction_TimeSeries" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#TimeSeries">
		<xs:sequence>
			<xs:element name="mRID" type="ID_String" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#IdentifiedObject.mRID"/>
			<xs:element name="businessType" type="BusinessKind_String" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#TimeSeries.businessType"/>
			<xs:element name="auction.category" type="Category_String" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Auction.category"/>
			<xs:element name="auction.type" type="AuctionKind_String" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Auction.type"/>
			<xs:element name="auction.allocationMode" type="AllocationMode_String" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Auction.allocationMode"/>
			<xs:element name="auction.paymentTerms" type="PaymentTerms_String" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Auction.paymentTerms"/>
			<xs:element name="auction.cancelled" type="ESMPBoolean_String" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Auction.cancelled"/>
			<xs:element name="bidding_Period.timeInterval" type="ESMP_DateTimeInterval" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Period.timeInterval"/>
			<xs:element name="in_Domain.mRID" type="AreaID_String" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#IdentifiedObject.mRID"/>
			<xs:element name="out_Domain.mRID" type="AreaID_String" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#IdentifiedObject.mRID"/>
			<xs:element name="marketAgreement.type" type="CapacityContractKind_String" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Document.type"/>
			<xs:element name="delivery_Period.timeInterval" type="ESMP_DateTimeInterval" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Period.timeInterval"/>
			<xs:element name="quantity_Measure_Unit.name" type="MeasurementUnitKind_String" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Unit.name"/>
			<xs:element name="price_Measure_Unit.name" type="MeasurementUnitKind_String" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Unit.name"/>
			<xs:element name="currency_Unit.name" type="CurrencyCode_String" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Unit.name"/>
			<xs:element name="notification_MarketAgreement.createdDateTime" type="ESMP_DateTime" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Document.createdDateTime"/>
			<xs:element name="contestation_MarketAgreement.createdDateTime" type="ESMP_DateTime" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Document.createdDateTime"/>
			<xs:element name="publication_MarketAgreement.createdDateTime" type="ESMP_DateTime" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Document.createdDateTime"/>
			<xs:element name="resale_MarketAgreement.createdDateTime" type="ESMP_DateTime" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Document.createdDateTime"/>
			<xs:element name="curveType" type="CurveType_String" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#TimeSeries.curveType"/>
			<xs:element name="connectingLine_RegisteredResource.mRID" type="ResourceID_String" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#IdentifiedObject.mRID"/>
			<xs:element name="Period" type="Series_Period" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#TimeSeries.Period"/>
			<xs:element name="AuctionDescription_AttributeInstanceComponent" type="AttributeInstanceComponent" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#TimeSeries.AuctionDescription_AttributeInstanceComponent"/>
			<xs:element name="RightsCharacteristics_Auction" type="RightsCharacteristics_Auction" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#TimeSeries.RightsCharacteristics_Auction"/>
			<xs:element name="Reason" type="Reason" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#TimeSeries.Reason"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ESMPVersion_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-9]([0-9]){0,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MessageKind_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
		<xs:restriction base="ecl:MessageTypeList"/>
	</xs:simpleType>
	<xs:simpleType name="ProcessKind_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
		<xs:restriction base="ecl:ProcessTypeList"/>
	</xs:simpleType>
	<xs:simpleType name="PartyID_String-base" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PartyID_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
		<xs:simpleContent>
			<xs:extension base="PartyID_String-base">
				<xs:attribute name="codingScheme" type="ecl:CodingSchemeTypeList" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="MarketRoleKind_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
		<xs:restriction base="ecl:RoleTypeList"/>
	</xs:simpleType>
	<xs:complexType name="CapacityAuctionSpecification_MarketDocument" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#MarketDocument">
		<xs:sequence>
			<xs:element name="mRID" type="ID_String" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#IdentifiedObject.mRID"/>
			<xs:element name="revisionNumber" type="ESMPVersion_String" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Document.revisionNumber"/>
			<xs:element name="type" type="MessageKind_String" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Document.type"/>
			<xs:element name="process.processType" type="ProcessKind_String" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Process.processType"/>
			<xs:element name="sender_MarketParticipant.mRID" type="PartyID_String" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#IdentifiedObject.mRID"/>
			<xs:element name="sender_MarketParticipant.marketRole.type" type="MarketRoleKind_String" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#MarketRole.type"/>
			<xs:element name="receiver_MarketParticipant.mRID" type="PartyID_String" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#IdentifiedObject.mRID"/>
			<xs:element name="receiver_MarketParticipant.marketRole.type" type="MarketRoleKind_String" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#MarketRole.type"/>
			<xs:element name="createdDateTime" type="ESMP_DateTime" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Document.createdDateTime"/>
			<xs:element name="period.timeInterval" type="ESMP_DateTimeInterval" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Period.timeInterval"/>
			<xs:element name="domain.mRID" type="AreaID_String" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#IdentifiedObject.mRID"/>
			<xs:element name="Auction_TimeSeries" type="Auction_TimeSeries" minOccurs="1" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#MarketDocument.Auction_TimeSeries"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Point" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Point">
		<xs:sequence>
			<xs:element name="position" type="Position_Integer" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Point.position"/>
			<xs:element name="quantity" type="xs:decimal" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Point.quantity"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ReasonCode_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
		<xs:restriction base="ecl:ReasonCodeTypeList"/>
	</xs:simpleType>
	<xs:simpleType name="ReasonText_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
		<xs:restriction base="xs:string">
			<xs:maxLength value="512"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Reason" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Reason">
		<xs:sequence>
			<xs:element name="code" type="ReasonCode_String" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Reason.code"/>
			<xs:element name="text" type="ReasonText_String" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Reason.text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="RightsKind_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
		<xs:restriction base="ecl:RightsTypeList"/>
	</xs:simpleType>
	<xs:complexType name="RightsCharacteristics_Auction" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Auction">
		<xs:sequence>
			<xs:element name="rights" type="RightsKind_String" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Auction.rights"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Series_Period" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Period">
		<xs:sequence>
			<xs:element name="timeInterval" type="ESMP_DateTimeInterval" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Period.timeInterval"/>
			<xs:element name="resolution" type="xs:duration" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Period.resolution"/>
			<xs:element name="Point" type="Point" minOccurs="1" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Period.Point"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
