Tools/RDF_PARSER/FullModel_XSD/FullModel_example.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://iec.ch/TC57/61970-552/ModelDescription/1#" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FullModel" type="ns:FullModelType" xmlns:ns="http://iec.ch/TC57/61970-552/ModelDescription/1#"/>
  <xs:complexType name="Model.DependentOnType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="rdf:resource" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Model.SupersedesType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="rdf:resource" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Model.ReplacesType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="rdf:resource" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="FullModelType">
    <xs:sequence>
      <xs:element type="xs:dateTime" name="Model.scenarioTime"/>
      <xs:element type="xs:dateTime" name="Model.created"/>
      <xs:element type="xs:string" name="Model.description"/>
      <xs:element type="xs:byte" name="Model.version"/>
      <xs:element name="Model.profile" maxOccurs="unbounded" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:anyURI">
            <xs:enumeration value="http://entsoe.eu/CIM/Topology/4/1"/>
            <xs:enumeration value="http://entsoe.eu/CIM/EquipmentCore/3/1"/>
            <xs:enumeration value="http://entsoe.eu/CIM/EquipmentOperation/3/1"/>
            <xs:enumeration value="http://entsoe.eu/CIM/EquipmentShortCircuit/3/1"/>
            <xs:enumeration value="http://entsoe.eu/CIM/SteadyStateHypothesis/1/1"/>
            <xs:enumeration value="http://entsoe.eu/CIM/StateVariables/4/1"/>
            <xs:enumeration value="http://entsoe.eu/CIM/GeographicalLocation/2/1"/>
            <xs:enumeration value="http://entsoe.eu/CIM/DiagramLayout/3/1"/>
            <xs:enumeration value="http://entsoe.eu/CIM/TopologyBoundary/3/1"/>
            <xs:enumeration value="http://entsoe.eu/CIM/EquipmentBoundary/3/1"/>
            <xs:enumeration value="http://entsoe.eu/CIM/EquipmentBoundaryOperation/3/1"/>
            <xs:enumeration value="http://entsoe.eu/CIM/Dynamics/3/1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:anyURI" name="Model.modelingAuthoritySet"/>
      <xs:element type="ns:Model.DependentOnType" name="Model.DependentOn" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://iec.ch/TC57/61970-552/ModelDescription/1#"/>
      <xs:element type="ns:Model.SupersedesType" name="Model.Supersedes" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://iec.ch/TC57/61970-552/ModelDescription/1#"/>
      <xs:element type="ns:Model.ReplacesType" name="Model.Replaces" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://iec.ch/TC57/61970-552/ModelDescription/1#"/>
    </xs:sequence>
    <xs:attribute ref="rdf:about" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"/>
  </xs:complexType>
</xs:schema>