Tools/XML_VALIDATOR/XSD/EAP-Schemas/01-CapacityTrading/urn-easee-gas-eu-edigas-capacitytrading-marketofferedcapacitydocument-5-1-5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns="urn:easee-gas.eu:edigas:capacitytrading:marketofferedcapacitydocument:5:1:5" xmlns:cimp="http://www.iec.ch/cimprofile" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:easee-gas.eu:edigas:capacitytrading:marketofferedcapacitydocument:5:1:5" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="urn-easee-gas-eu-edigas-capacitytrading-marketofferedcapacitydocument-5-1-5-restricted-codes.xsd"/>
	<xs:element name="MarketOfferedCapacity_Document" type="MarketOfferedCapacity_Document"/>
	<xs:simpleType name="QuantityType" sawsdl:modelReference="http://easee-gas/edigas#QuantityType">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CompetingProduct_Characteristic" sawsdl:modelReference="http://easee-gas/edigas#Characteristic">
		<xs:sequence>
			<xs:element name="sequence" type="xs:string" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Characteristic.sequence"/>
			<xs:element name="totalProduct_Quantity.amount" type="QuantityType" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Quantity.amount"/>
			<xs:element name="Product_Reference" type="Product_Reference" minOccurs="1" maxOccurs="unbounded" sawsdl:modelReference="http://easee-gas/edigas#Characteristic.Product_Reference"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="MeasurementPointType-base" sawsdl:modelReference="http://easee-gas/edigas#String">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MeasurementPointType" sawsdl:modelReference="http://easee-gas/edigas#String">
		<xs:simpleContent>
			<xs:extension base="MeasurementPointType-base">
				<xs:attribute name="codingScheme" type="CodingSchemeTypeList" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="SpanType" sawsdl:modelReference="http://easee-gas/edigas#SpanType">
		<xs:restriction base="SpanTypeList"/>
	</xs:simpleType>
	<xs:simpleType name="CapacityTypeType" sawsdl:modelReference="http://easee-gas/edigas#CapacityTypeType">
		<xs:restriction base="CapacityTypeTypeList"/>
	</xs:simpleType>
	<xs:simpleType name="UnitOfMeasureType" sawsdl:modelReference="http://easee-gas/edigas#UnitOfMeasureType">
		<xs:restriction base="UnitOfMeasureTypeList"/>
	</xs:simpleType>
	<xs:simpleType name="CurrencyType" sawsdl:modelReference="http://easee-gas/edigas#CurrencyType">
		<xs:restriction base="CurrencyTypeList"/>
	</xs:simpleType>
	<xs:simpleType name="AreaType-base" sawsdl:modelReference="http://easee-gas/edigas#String">
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AreaType" sawsdl:modelReference="http://easee-gas/edigas#String">
		<xs:simpleContent>
			<xs:extension base="AreaType-base">
				<xs:attribute name="codingScheme" type="CodingSchemeTypeList" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="Amount_Decimal" sawsdl:modelReference="http://easee-gas/edigas#Decimal">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TimeIntervalType" sawsdl:modelReference="http://easee-gas/edigas#String">
		<xs:restriction base="xs:string">
			<xs:pattern value="(((((20[0-9]{2})[\-](0[13578]|1[02])[\-](0[1-9]|[12][0-9]|3[01])|([0-9]{4})[\-]((0[469])|(11))[\-](0[1-9]|[12][0-9]|30))T(([01][0-9]|2[0-3]):[0-5][0-9])Z/)|(([13579][26][02468][048]|[13579][01345789](0)[48]|[13579][01345789][2468][048]|[02468][048][02468][048]|[02468][1235679](0)[48]|[02468][1235679][2468][048]|[0-9][0-9][13579][26])[\-](02)[\-](0[1-9]|1[0-9]|2[0-9])T(([01][0-9]|2[0-3]):[0-5][0-9])Z/)|(([13579][26][02468][1235679]|[13579][01345789](0)[01235679]|[13579][01345789][2468][1235679]|[02468][048][02468][1235679]|[02468][1235679](0)[01235679]|[02468][1235679][2468][1235679]|[0-9][0-9][13579][01345789])[\-](02)[\-](0[1-9]|1[0-9]|2[0-8])T(([01][0-9]|2[0-3]):[0-5][0-9])Z/))(((([0-9]{4})-(0[13578]|1[02])[\-](0[1-9]|[12][0-9]|3[01])|([0-9]{4})[\-]((0[469])|(11))[\-](0[1-9]|[12][0-9]|30))T(([01][0-9]|2[0-3]):[0-5][0-9])Z)|(([13579][26][02468][048]|[13579][01345789](0)[48]|[13579][01345789][2468][048]|[02468][048][02468][048]|[02468][1235679](0)[48]|[02468][1235679][2468][048]|[0-9][0-9][13579][26])[\-](02)[\-](0[1-9]|1[0-9]|2[0-9])T(([01][0-9]|2[0-3]):[0-5][0-9])Z)|(([13579][26][02468][1235679]|[13579][01345789](0)[01235679]|[13579][01345789][2468][1235679]|[02468][048][02468][1235679]|[02468][1235679](0)[01235679]|[02468][1235679][2468][1235679]|[0-9][0-9][13579][01345789])[\-](02)[\-](0[1-9]|1[0-9]|2[0-8])T(([01][0-9]|2[0-3]):[0-5][0-9])Z)))"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="QuantityTypeType" sawsdl:modelReference="http://easee-gas/edigas#QuantityTypeType">
		<xs:restriction base="QuantityTypeTypeList"/>
	</xs:simpleType>
	<xs:complexType name="ConnectionPoint" sawsdl:modelReference="http://easee-gas/edigas#ConnectionPoint">
		<xs:sequence>
			<xs:element name="identification" type="MeasurementPointType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#ConnectionPoint.identification"/>
			<xs:element name="product_TimeSeries.SpanPeriod" type="SpanType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#TimeSeries.SpanPeriod"/>
			<xs:element name="capacityType.code" type="CapacityTypeType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#CapacityType.code"/>
			<xs:element name="quantity_MeasureUnit.code" type="UnitOfMeasureType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#MeasureUnit.code"/>
			<xs:element name="price_MeasureUnit.code" type="UnitOfMeasureType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#MeasureUnit.code"/>
			<xs:element name="currency.code" type="CurrencyType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Currency.code"/>
			<xs:element name="currency.exchangeRate" type="xs:decimal" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Currency.exchangeRate"/>
			<xs:element name="to_MarketArea.area" type="AreaType" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#MarketArea.area"/>
			<xs:element name="from_MarketArea.area" type="AreaType" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#MarketArea.area"/>
			<xs:element name="ToTso_MarketParticipant" type="Tso_MarketParticipant" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#ConnectionPoint.ToTso_MarketParticipant"/>
			<xs:element name="FromTso_MarketParticipant" type="Tso_MarketParticipant" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#ConnectionPoint.FromTso_MarketParticipant"/>
			<xs:element name="reserve_Price.amount" type="Amount_Decimal" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Price.amount"/>
			<xs:element name="largeStep_Price.amount" type="Amount_Decimal" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Price.amount"/>
			<xs:element name="smallStep_Price.amount" type="Amount_Decimal" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Price.amount"/>
			<xs:element name="auction_Characteristic.sequence" type="xs:string" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Characteristic.sequence"/>
			<xs:element name="biddingRound_Characteristic.sequence" type="xs:string" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Characteristic.sequence"/>
			<xs:element name="biddingRound_Characteristic.price.amount" type="Amount_Decimal" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Price.amount"/>
			<xs:element name="period.timeInterval" type="TimeIntervalType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Period.timeInterval"/>
			<xs:element name="period.auction_Quantity.amount" type="QuantityType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Quantity.amount"/>
			<xs:element name="period.auction_Quantity.type" type="QuantityTypeType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="period.previousRoundDemand_Quantity.amount" type="QuantityType" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Quantity.amount"/>
			<xs:element name="period.previousRoundDemand_Quantity.type" type="QuantityTypeType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PriceType" sawsdl:modelReference="http://easee-gas/edigas#PriceType">
		<xs:restriction base="PriceTypeList"/>
	</xs:simpleType>
	<xs:complexType name="Cost_Price" sawsdl:modelReference="http://easee-gas/edigas#Price">
		<xs:sequence>
			<xs:element name="amount" type="Amount_Decimal" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Price.amount"/>
			<xs:element name="type" type="PriceType" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Price.type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="IdentificationType" sawsdl:modelReference="http://easee-gas/edigas#IdentificationType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Version_Integer" sawsdl:modelReference="http://easee-gas/edigas#Integer">
		<xs:restriction base="xs:integer">
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DocumentType" sawsdl:modelReference="http://easee-gas/edigas#DocumentType">
		<xs:restriction base="DocumentTypeList"/>
	</xs:simpleType>
	<xs:simpleType name="PartyType-base" sawsdl:modelReference="http://easee-gas/edigas#String">
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PartyType" sawsdl:modelReference="http://easee-gas/edigas#String">
		<xs:simpleContent>
			<xs:extension base="PartyType-base">
				<xs:attribute name="codingScheme" type="CodingSchemeTypeList" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="RoleType" sawsdl:modelReference="http://easee-gas/edigas#RoleType">
		<xs:restriction base="RoleTypeList"/>
	</xs:simpleType>
	<xs:simpleType name="LocationType-base" sawsdl:modelReference="http://easee-gas/edigas#String">
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LocationType" sawsdl:modelReference="http://easee-gas/edigas#String">
		<xs:simpleContent>
			<xs:extension base="LocationType-base">
				<xs:attribute name="codingScheme" type="CodingSchemeTypeList" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="StatusType" sawsdl:modelReference="http://easee-gas/edigas#StatusType">
		<xs:restriction base="StatusTypeList"/>
	</xs:simpleType>
	<xs:complexType name="MarketOfferedCapacity_Document" sawsdl:modelReference="http://easee-gas/edigas#Document">
		<xs:sequence>
			<xs:element name="identification" type="IdentificationType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Document.identification"/>
			<xs:element name="version" type="Version_Integer" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Document.version"/>
			<xs:element name="type" type="DocumentType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Document.type"/>
			<xs:element name="creationDateTime" type="xs:dateTime" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Document.creationDateTime"/>
			<xs:element name="validityPeriod" type="TimeIntervalType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Document.validityPeriod"/>
			<xs:element name="issuer_MarketParticipant.identification" type="PartyType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#MarketParticipant.identification"/>
			<xs:element name="issuer_MarketParticipant.marketRole.code" type="RoleType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#MarketRole.code"/>
			<xs:element name="recipient_MarketParticipant.identification" type="PartyType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#MarketParticipant.identification"/>
			<xs:element name="recipient_MarketParticipant.marketRole.code" type="RoleType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#MarketRole.code"/>
			<xs:element name="applicationContext" type="LocationType" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Document.applicationContext"/>
			<xs:element name="status.code" type="StatusType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Status.code"/>
			<xs:element name="ProductIdentification_Document" type="ProductIdentification_Document" minOccurs="1" maxOccurs="unbounded" sawsdl:modelReference="http://easee-gas/edigas#Document.ProductIdentification_Document"/>
		</xs:sequence>
		<xs:attribute name="release" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="Product_Reference" sawsdl:modelReference="http://easee-gas/edigas#Reference">
		<xs:sequence>
			<xs:element name="identification" type="IdentificationType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Reference.identification"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ReferenceType" sawsdl:modelReference="http://easee-gas/edigas#ReferenceType">
		<xs:restriction base="ReferenceTypeList"/>
	</xs:simpleType>
	<xs:simpleType name="ReasonTextType" sawsdl:modelReference="http://easee-gas/edigas#ReasonTextType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="512"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ProductIdentification_Document" sawsdl:modelReference="http://easee-gas/edigas#Document">
		<xs:sequence>
			<xs:element name="contractReference" type="IdentificationType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Document.contractReference"/>
			<xs:element name="contractType" type="ReferenceType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Document.contractType"/>
			<xs:element name="additional_Reason.text" type="ReasonTextType" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Reason.text"/>
			<xs:element name="ConnectionPoint" type="ConnectionPoint" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Document.ConnectionPoint"/>
			<xs:element name="CompetingProduct_Characteristic" type="CompetingProduct_Characteristic" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://easee-gas/edigas#Document.CompetingProduct_Characteristic"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AvailabilityType" sawsdl:modelReference="http://easee-gas/edigas#AvailabilityType">
		<xs:restriction base="AvailabilityTypeList"/>
	</xs:simpleType>
	<xs:complexType name="Tso_MarketParticipant" sawsdl:modelReference="http://easee-gas/edigas#MarketParticipant">
		<xs:sequence>
			<xs:element name="identification" type="PartyType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#MarketParticipant.identification"/>
			<xs:element name="reserve_Price.amount" type="Amount_Decimal" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Price.amount"/>
			<xs:element name="price_MeasureUnit.code" type="UnitOfMeasureType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#MeasureUnit.code"/>
			<xs:element name="currency.code" type="CurrencyType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Currency.code"/>
			<xs:element name="currency.exchangeRate" type="xs:decimal" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Currency.exchangeRate"/>
			<xs:element name="availability.type" type="AvailabilityType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Availability.type"/>
			<xs:element name="Cost_Price" type="Cost_Price" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://easee-gas/edigas#MarketParticipant.Cost_Price"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
