Tools/XML_VALIDATOR/XSD/EAP-Schemas/04-Settlement/urn-easee-gas-eu-edigas-settlement-allocationdocument-5-1-3.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2015 rel. 4 sp1 (x64) (http://www.altova.com) by Michael Conroy (Tedior) -->
<xs:schema xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns="urn:easee-gas.eu:edigas:settlement:allocationdocument:5:1:3" xmlns:cimp="http://www.iec.ch/cimprofile" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:easee-gas.eu:edigas:settlement:allocationdocument:5:1:3" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="urn-easee-gas-eu-edigas-settlement-allocationdocument-5-1-3-restricted-codes.xsd"/>
	<xs:element name="Allocation_Document" type="Allocation_Document"/>
	<xs:simpleType name="AccountType-base" sawsdl:modelReference="http://easee-gas/edigas#String">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AccountType" sawsdl:modelReference="http://easee-gas/edigas#String">
		<xs:simpleContent>
			<xs:extension base="AccountType-base">
				<xs:attribute name="codingScheme" type="CodingSchemeTypeList" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="PartyType-base" sawsdl:modelReference="http://easee-gas/edigas#String">
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PartyType" sawsdl:modelReference="http://easee-gas/edigas#String">
		<xs:simpleContent>
			<xs:extension base="PartyType-base">
				<xs:attribute name="codingScheme" type="CodingSchemeTypeList" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Account" sawsdl:modelReference="http://easee-gas/edigas#Account">
		<xs:sequence>
			<xs:element name="internalAccount" type="AccountType" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Account.internalAccount"/>
			<xs:element name="internalAccountTso" type="PartyType" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Account.internalAccountTso"/>
			<xs:element name="externalAccount" type="AccountType" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Account.externalAccount"/>
			<xs:element name="externalAccountTso" type="PartyType" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Account.externalAccountTso"/>
			<xs:element name="TimeSeries" type="TimeSeries" minOccurs="1" maxOccurs="unbounded" sawsdl:modelReference="http://easee-gas/edigas#Account.TimeSeries"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="IdentificationType" sawsdl:modelReference="http://easee-gas/edigas#IdentificationType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DocumentType" sawsdl:modelReference="http://easee-gas/edigas#DocumentType">
		<xs:restriction base="DocumentTypeList"/>
	</xs:simpleType>
	<xs:simpleType name="TimeIntervalType" sawsdl:modelReference="http://easee-gas/edigas#String">
		<xs:restriction base="xs:string">
			<xs:pattern value="(((((20[0-9]{2})[\-](0[13578]|1[02])[\-](0[1-9]|[12][0-9]|3[01])|([0-9]{4})[\-]((0[469])|(11))[\-](0[1-9]|[12][0-9]|30))T(([01][0-9]|2[0-3]):[0-5][0-9])Z/)|(([13579][26][02468][048]|[13579][01345789](0)[48]|[13579][01345789][2468][048]|[02468][048][02468][048]|[02468][1235679](0)[48]|[02468][1235679][2468][048]|[0-9][0-9][13579][26])[\-](02)[\-](0[1-9]|1[0-9]|2[0-9])T(([01][0-9]|2[0-3]):[0-5][0-9])Z/)|(([13579][26][02468][1235679]|[13579][01345789](0)[01235679]|[13579][01345789][2468][1235679]|[02468][048][02468][1235679]|[02468][1235679](0)[01235679]|[02468][1235679][2468][1235679]|[0-9][0-9][13579][01345789])[\-](02)[\-](0[1-9]|1[0-9]|2[0-8])T(([01][0-9]|2[0-3]):[0-5][0-9])Z/))(((([0-9]{4})-(0[13578]|1[02])[\-](0[1-9]|[12][0-9]|3[01])|([0-9]{4})[\-]((0[469])|(11))[\-](0[1-9]|[12][0-9]|30))T(([01][0-9]|2[0-3]):[0-5][0-9])Z)|(([13579][26][02468][048]|[13579][01345789](0)[48]|[13579][01345789][2468][048]|[02468][048][02468][048]|[02468][1235679](0)[48]|[02468][1235679][2468][048]|[0-9][0-9][13579][26])[\-](02)[\-](0[1-9]|1[0-9]|2[0-9])T(([01][0-9]|2[0-3]):[0-5][0-9])Z)|(([13579][26][02468][1235679]|[13579][01345789](0)[01235679]|[13579][01345789][2468][1235679]|[02468][048][02468][1235679]|[02468][1235679](0)[01235679]|[02468][1235679][2468][1235679]|[0-9][0-9][13579][01345789])[\-](02)[\-](0[1-9]|1[0-9]|2[0-8])T(([01][0-9]|2[0-3]):[0-5][0-9])Z)))"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReferenceType" sawsdl:modelReference="http://easee-gas/edigas#ReferenceType">
		<xs:restriction base="ReferenceTypeList"/>
	</xs:simpleType>
	<xs:simpleType name="RoleType" sawsdl:modelReference="http://easee-gas/edigas#RoleType">
		<xs:restriction base="RoleTypeList"/>
	</xs:simpleType>
	<xs:simpleType name="LocationType-base" sawsdl:modelReference="http://easee-gas/edigas#String">
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LocationType" sawsdl:modelReference="http://easee-gas/edigas#String">
		<xs:simpleContent>
			<xs:extension base="LocationType-base">
				<xs:attribute name="codingScheme" type="CodingSchemeTypeList" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Allocation_Document" sawsdl:modelReference="http://easee-gas/edigas#Document">
		<xs:sequence>
			<xs:element name="identification" type="IdentificationType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Document.identification"/>
			<xs:element name="version"/>
			<xs:element name="type" type="DocumentType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Document.type"/>
			<xs:element name="creationDateTime" type="xs:dateTime" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Document.creationDateTime"/>
			<xs:element name="validityPeriod" type="TimeIntervalType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Document.validityPeriod"/>
			<xs:element name="contractReference" type="IdentificationType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Document.contractReference"/>
			<xs:element name="contractType" type="ReferenceType" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Document.contractType"/>
			<xs:element name="issuer_MarketParticipant.identification" type="PartyType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#MarketParticipant.identification"/>
			<xs:element name="issuer_MarketParticipant.marketRole.code" type="RoleType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#MarketRole.code"/>
			<xs:element name="recipient_MarketParticipant.identification" type="PartyType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#MarketParticipant.identification"/>
			<xs:element name="recipient_MarketParticipant.marketRole.code" type="RoleType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#MarketRole.code"/>
			<xs:element name="applicationContext" type="LocationType" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Document.applicationContext"/>
			<xs:element name="ConnectionPoint" type="ConnectionPoint" minOccurs="1" maxOccurs="unbounded" sawsdl:modelReference="http://easee-gas/edigas#Document.ConnectionPoint"/>
		</xs:sequence>
		<xs:attribute name="release" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="MeasurementPointType-base" sawsdl:modelReference="http://easee-gas/edigas#String">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MeasurementPointType" sawsdl:modelReference="http://easee-gas/edigas#String">
		<xs:simpleContent>
			<xs:extension base="MeasurementPointType-base">
				<xs:attribute name="codingScheme" type="CodingSchemeTypeList" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="UnitOfMeasureType" sawsdl:modelReference="http://easee-gas/edigas#UnitOfMeasureType">
		<xs:restriction base="UnitOfMeasureTypeList"/>
	</xs:simpleType>
	<xs:complexType name="ConnectionPoint" sawsdl:modelReference="http://easee-gas/edigas#ConnectionPoint">
		<xs:sequence>
			<xs:element name="identification" type="MeasurementPointType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#ConnectionPoint.identification"/>
			<xs:element name="measureUnit.code" type="UnitOfMeasureType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#MeasureUnit.code"/>
			<xs:element name="Account" type="Account" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://easee-gas/edigas#ConnectionPoint.Account"/>
			<xs:element name="TimeSeries" type="TimeSeries" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://easee-gas/edigas#ConnectionPoint.TimeSeries"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AvailabilityType" sawsdl:modelReference="http://easee-gas/edigas#AvailabilityType">
		<xs:restriction base="AvailabilityTypeList"/>
	</xs:simpleType>
	<xs:complexType name="GasUsage_Availability" sawsdl:modelReference="http://easee-gas/edigas#Availability">
		<xs:sequence>
			<xs:element name="type" type="AvailabilityType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Availability.type"/>
			<xs:element name="Period" type="Period" minOccurs="1" maxOccurs="unbounded" sawsdl:modelReference="http://easee-gas/edigas#Availability.Period"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="GasDirectionType" sawsdl:modelReference="http://easee-gas/edigas#GasDirectionType">
		<xs:restriction base="GasDirectionTypeList"/>
	</xs:simpleType>
	<xs:simpleType name="QuantityType" sawsdl:modelReference="http://easee-gas/edigas#QuantityType">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StatusCategoryType" sawsdl:modelReference="http://easee-gas/edigas#StatusCategoryType">
		<xs:restriction base="StatusCategoryTypeList"/>
	</xs:simpleType>
	<xs:simpleType name="StatusType" sawsdl:modelReference="http://easee-gas/edigas#StatusType">
		<xs:restriction base="StatusTypeList"/>
	</xs:simpleType>
	<xs:complexType name="Period" sawsdl:modelReference="http://easee-gas/edigas#Period">
		<xs:sequence>
			<xs:element name="timeInterval" type="TimeIntervalType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Period.timeInterval"/>
			<xs:element name="direction.code" type="GasDirectionType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#GasDirection.code"/>
			<xs:element name="quantity.amount" type="QuantityType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Quantity.amount"/>
			<xs:element name="allocationScheme.code" type="StatusCategoryType" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#AllocationScheme.code"/>
			<xs:element name="status.code" type="StatusType" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#Status.code"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="BusinessType" sawsdl:modelReference="http://easee-gas/edigas#BusinessType">
		<xs:restriction base="BusinessTypeList"/>
	</xs:simpleType>
	<xs:complexType name="TimeSeries" sawsdl:modelReference="http://easee-gas/edigas#TimeSeries">
		<xs:sequence>
			<xs:element name="type" type="BusinessType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://easee-gas/edigas#TimeSeries.type"/>
			<xs:element name="GasUsage_Availability" type="GasUsage_Availability" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://easee-gas/edigas#TimeSeries.GasUsage_Availability"/>
			<xs:element name="Period" type="Period" minOccurs="1" maxOccurs="unbounded" sawsdl:modelReference="http://easee-gas/edigas#TimeSeries.Period"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
