Tools/XML_VALIDATOR/XSD/CIM_2019-01-10/iec62325-451-n-mltopdocument_v1_0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:cl="urn:entsoe.eu:wgedi:codelists" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns="urn:iec62325.351:tc57wg16:451-n:mltopdocument:1:0" xmlns:cimp="http://www.iec.ch/cimprofile" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:iec62325.351:tc57wg16:451-n:mltopdocument:1:0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="urn:entsoe.eu:wgedi:codelists" schemaLocation="urn-entsoe-eu-wgedi-codelists.xsd"/>
	<xs:element name="OutageSchedule_MarketDocument" type="OutageSchedule_MarketDocument"/>
	<xs:simpleType name="ResourceID_String-base" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
		<xs:restriction base="xs:string">
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ResourceID_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
		<xs:simpleContent>
			<xs:extension base="ResourceID_String-base">
				<xs:attribute name="codingScheme" type="cl:CodingSchemeTypeList" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Alternative_RegisteredResource" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#RegisteredResource">
		<xs:sequence>
			<xs:element name="mRID" type="ResourceID_String" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#IdentifiedObject.mRID"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ID_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ESMPVersion_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-9]([0-9]){0,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MessageKind_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
		<xs:restriction base="cl:MessageTypeList"/>
	</xs:simpleType>
	<xs:simpleType name="ProcessKind_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
		<xs:restriction base="cl:ProcessTypeList"/>
	</xs:simpleType>
	<xs:simpleType name="PartyID_String-base" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PartyID_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
		<xs:simpleContent>
			<xs:extension base="PartyID_String-base">
				<xs:attribute name="codingScheme" type="cl:CodingSchemeTypeList" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="MarketRoleKind_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
		<xs:restriction base="cl:RoleTypeList"/>
	</xs:simpleType>
	<xs:simpleType name="ESMP_DateTime" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#DateTime">
		<xs:restriction base="xs:dateTime">
			<xs:pattern value="((([0-9]{4})[\-](0[13578]|1[02])[\-](0[1-9]|[12][0-9]|3[01])|([0-9]{4})[\-]((0[469])|(11))[\-](0[1-9]|[12][0-9]|30))T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)|(([13579][26][02468][048]|[13579][01345789](0)[48]|[13579][01345789][2468][048]|[02468][048][02468][048]|[02468][1235679](0)[48]|[02468][1235679][2468][048]|[0-9][0-9][13579][26])[\-](02)[\-](0[1-9]|1[0-9]|2[0-9])T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)|(([13579][26][02468][1235679]|[13579][01345789](0)[01235679]|[13579][01345789][2468][1235679]|[02468][048][02468][1235679]|[02468][1235679](0)[01235679]|[02468][1235679][2468][1235679]|[0-9][0-9][13579][01345789])[\-](02)[\-](0[1-9]|1[0-9]|2[0-8])T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AreaID_String-base" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
		<xs:restriction base="xs:string">
			<xs:maxLength value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AreaID_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
		<xs:simpleContent>
			<xs:extension base="AreaID_String-base">
				<xs:attribute name="codingScheme" type="cl:CodingSchemeTypeList" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="YMDHM_DateTime" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#DateTime">
		<xs:restriction base="xs:string">
			<xs:pattern value="((([0-9]{4})[\-](0[13578]|1[02])[\-](0[1-9]|[12][0-9]|3[01])|([0-9]{4})[\-]((0[469])|(11))[\-](0[1-9]|[12][0-9]|30))T(([01][0-9]|2[0-3]):[0-5][0-9])Z)|(([13579][26][02468][048]|[13579][01345789](0)[48]|[13579][01345789][2468][048]|[02468][048][02468][048]|[02468][1235679](0)[48]|[02468][1235679][2468][048]|[0-9][0-9][13579][26])[\-](02)[\-](0[1-9]|1[0-9]|2[0-9])T(([01][0-9]|2[0-3]):[0-5][0-9])Z)|(([13579][26][02468][1235679]|[13579][01345789](0)[01235679]|[13579][01345789][2468][1235679]|[02468][048][02468][1235679]|[02468][1235679](0)[01235679]|[02468][1235679][2468][1235679]|[0-9][0-9][13579][01345789])[\-](02)[\-](0[1-9]|1[0-9]|2[0-8])T(([01][0-9]|2[0-3]):[0-5][0-9])Z)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ESMP_DateTimeInterval" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#DateTimeInterval">
		<xs:sequence>
			<xs:element name="start" type="YMDHM_DateTime" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#DateTimeInterval.start"/>
			<xs:element name="end" type="YMDHM_DateTime" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#DateTimeInterval.end"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OutageSchedule_MarketDocument" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#MarketDocument">
		<xs:sequence>
			<xs:element name="mRID" type="ID_String" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#IdentifiedObject.mRID"/>
			<xs:element name="revisionNumber" type="ESMPVersion_String" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Document.revisionNumber"/>
			<xs:element name="type" type="MessageKind_String" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Document.type"/>
			<xs:element name="process.processType" type="ProcessKind_String" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Process.processType"/>
			<xs:element name="sender_MarketParticipant.mRID" type="PartyID_String" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#IdentifiedObject.mRID"/>
			<xs:element name="sender_MarketParticipant.marketRole.type" type="MarketRoleKind_String" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#MarketRole.type"/>
			<xs:element name="receiver_MarketParticipant.mRID" type="PartyID_String" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#IdentifiedObject.mRID"/>
			<xs:element name="receiver_MarketParticipant.marketRole.type" type="MarketRoleKind_String" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#MarketRole.type"/>
			<xs:element name="createdDateTime" type="ESMP_DateTime" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Document.createdDateTime"/>
			<xs:element name="schedule_Period.timeInterval" type="ESMP_DateTimeInterval" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Period.timeInterval"/>
			<xs:element name="domain.mRID" type="AreaID_String" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#IdentifiedObject.mRID"/>
			<xs:element name="TimeSeries" type="TimeSeries" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#MarketDocument.TimeSeries"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ReasonCode_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
		<xs:restriction base="cl:ReasonCodeTypeList"/>
	</xs:simpleType>
	<xs:simpleType name="ReasonText_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
		<xs:restriction base="xs:string">
			<xs:maxLength value="512"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Reason" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Reason">
		<xs:sequence>
			<xs:element name="code" type="ReasonCode_String" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Reason.code"/>
			<xs:element name="text" type="ReasonText_String" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Reason.text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PsrType_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
		<xs:restriction base="cl:AssetTypeList"/>
	</xs:simpleType>
	<xs:simpleType name="ESMP_Voltage-base" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Voltage">
		<xs:restriction base="xs:float">
			<xs:pattern value="([0-9]*\.?[0-9]*)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ESMP_Voltage" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Voltage">
		<xs:simpleContent>
			<xs:extension base="ESMP_Voltage-base">
				<xs:attribute name="unit" type="cl:UnitSymbol" use="required" fixed="KVT"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="RegisteredResource" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#RegisteredResource">
		<xs:sequence>
			<xs:element name="mRID" type="ResourceID_String" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#IdentifiedObject.mRID"/>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#IdentifiedObject.name"/>
			<xs:element name="pSRType.psrType" type="PsrType_String" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#MktPSRType.psrType"/>
			<xs:element name="pSRType.powerSystemResources.highVoltageLimit" type="ESMP_Voltage" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#VoltageLevel.highVoltageLimit"/>
			<xs:element name="pSRType.powerSystemResources.lowVoltageLimit" type="ESMP_Voltage" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#VoltageLevel.lowVoltageLimit"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SwitchedBack_Time_Period" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Period">
		<xs:sequence>
			<xs:element name="timeInterval" type="ESMP_DateTimeInterval" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Period.timeInterval"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="BusinessKind_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
		<xs:restriction base="cl:BusinessTypeList"/>
	</xs:simpleType>
	<xs:simpleType name="Status_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
		<xs:restriction base="cl:StatusTypeList"/>
	</xs:simpleType>
	<xs:simpleType name="MeasurementUnitKind_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
		<xs:restriction base="cl:UnitOfMeasureTypeList"/>
	</xs:simpleType>
	<xs:complexType name="TimeSeries" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#TimeSeries">
		<xs:sequence>
			<xs:element name="mRID" type="ID_String" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#IdentifiedObject.mRID"/>
			<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#IdentifiedObject.description"/>
			<xs:element name="businessType" type="BusinessKind_String" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#TimeSeries.businessType"/>
			<xs:element name="project_Names.name" type="xs:string" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Name.name"/>
			<xs:element name="caseReference_Names.name" type="xs:string" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Name.name"/>
			<xs:element name="outage_Period.timeInterval" type="ESMP_DateTimeInterval" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Period.timeInterval"/>
			<xs:element name="lastChange_MarketAgreement.createdDateTime" type="ESMP_DateTime" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Document.createdDateTime"/>
			<xs:element name="positiveOffset_ConstraintDuration.duration" type="xs:duration" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#ConstraintDuration.duration"/>
			<xs:element name="negativeOffset_ConstraintDuration.duration" type="xs:duration" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#ConstraintDuration.duration"/>
			<xs:element name="noRestitution_ConstraintDuration.type" type="xs:string" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#ConstraintDuration.type"/>
			<xs:element name="maximumRestitution_ConstraintDuration.duration" type="xs:duration" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#ConstraintDuration.duration"/>
			<xs:element name="dayTimeRestitution_ConstraintDuration.duration" type="xs:duration" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#ConstraintDuration.duration"/>
			<xs:element name="nightTimeRestitution_ConstraintDuration.duration" type="xs:duration" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#ConstraintDuration.duration"/>
			<xs:element name="weekEndRestitution_ConstraintDuration.duration" type="xs:duration" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#ConstraintDuration.duration"/>
			<xs:element name="marketObjectStatus.status" type="Status_String" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#MarketObjectStatus.status"/>
			<xs:element name="coordination_MarketObjectStatus.status" type="Status_String" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#MarketObjectStatus.status"/>
			<xs:element name="measurement_Unit.name" type="MeasurementUnitKind_String" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Unit.name"/>
			<xs:element name="unavailableCapacity_Quantity.quantity" type="xs:decimal" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Quantity.quantity"/>
			<xs:element name="day_MarketObjectStatus.status" type="Status_String" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#MarketObjectStatus.status"/>
			<xs:element name="week_MarketObjectStatus.status" type="Status_String" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#MarketObjectStatus.status"/>
			<xs:element name="saturday_MarketObjectStatus.status" type="Status_String" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#MarketObjectStatus.status"/>
			<xs:element name="sunday_MarketObjectStatus.status" type="Status_String" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#MarketObjectStatus.status"/>
			<xs:element name="Reason" type="Reason" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#TimeSeries.Reason"/>
			<xs:element name="RegisteredResource" type="RegisteredResource" minOccurs="1" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#TimeSeries.RegisteredResource"/>
			<xs:element name="Alternative_RegisteredResource" type="Alternative_RegisteredResource" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#TimeSeries.Alternative_RegisteredResource"/>
			<xs:element name="SwitchedBack_Period" type="SwitchedBack_Time_Period" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#TimeSeries.SwitchedBack_Period"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
