Tools/XML_VALIDATOR/XSD/CIM_2019-01-10/iec62325-451-n-eiccode_v1_0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:cl="urn:entsoe.eu:wgedi:codelists" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns="urn:iec62325.351:tc57wg16:451-n:eicdocument:1:0" xmlns:cimp="http://www.iec.ch/cimprofile" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:iec62325.351:tc57wg16:451-n:eicdocument:1:0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="urn-entsoe-eu-wgedi-codelists.xsd" namespace="urn:entsoe.eu:wgedi:codelists" />
  <xs:element name="EIC_MarketDocument" type="EIC_MarketDocument" />
  <xs:simpleType name="ID_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
    <xs:restriction base="xs:string">
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ESMPVersion_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
    <xs:restriction base="xs:string">
      <xs:pattern value="[1-9]([0-9]){0,2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MessageKind_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
    <xs:restriction base="cl:MessageTypeList" />
  </xs:simpleType>
  <xs:simpleType name="PartyID_String-base" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
    <xs:restriction base="xs:string">
      <xs:maxLength value="16" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PartyID_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
    <xs:simpleContent>
      <xs:extension base="PartyID_String-base">
        <xs:attribute name="codingScheme" type="cl:CodingSchemeTypeList" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="MarketRoleKind_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
    <xs:restriction base="cl:RoleTypeList" />
  </xs:simpleType>
  <xs:simpleType name="ESMP_DateTime" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#DateTime">
    <xs:restriction base="xs:dateTime">
      <xs:pattern value="((([0-9]{4})[\-](0[13578]|1[02])[\-](0[1-9]|[12][0-9]|3[01])|([0-9]{4})[\-]((0[469])|(11))[\-](0[1-9]|[12][0-9]|30))T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)|(([13579][26][02468][048]|[13579][01345789](0)[48]|[13579][01345789][2468][048]|[02468][048][02468][048]|[02468][1235679](0)[48]|[02468][1235679][2468][048]|[0-9][0-9][13579][26])[\-](02)[\-](0[1-9]|1[0-9]|2[0-9])T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)|(([13579][26][02468][1235679]|[13579][01345789](0)[01235679]|[13579][01345789][2468][1235679]|[02468][048][02468][1235679]|[02468][1235679](0)[01235679]|[02468][1235679][2468][1235679]|[0-9][0-9][13579][01345789])[\-](02)[\-](0[1-9]|1[0-9]|2[0-8])T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="EIC_MarketDocument" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#MarketDocument">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="mRID" type="ID_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="revisionNumber" type="ESMPVersion_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Document.revisionNumber">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="type" type="MessageKind_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Document.type">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="sender_MarketParticipant.mRID" type="PartyID_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="sender_MarketParticipant.marketRole.type" type="MarketRoleKind_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#MarketRole.type">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="receiver_MarketParticipant.mRID" type="PartyID_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="receiver_MarketParticipant.marketRole.type" type="MarketRoleKind_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#MarketRole.type">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="createdDateTime" type="ESMP_DateTime" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Document.createdDateTime">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EICCode_MarketDocument" type="EICCode_MarketDocument" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#MarketDocument.EICCode_MarketDocument">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="EICCode_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
    <xs:restriction base="xs:string">
      <xs:length value="16" />
      <xs:pattern value="([A-Z0-9]{2}(([A-Z0-9]|[-]){13})[A-Z0-9])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Characters70_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
    <xs:restriction base="xs:string">
      <xs:maxLength value="70" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Characters16_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
    <xs:restriction base="xs:string">
      <xs:maxLength value="16" />
      <xs:pattern value="([A-Z\-\+_0-9]+)" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ACERCode_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
    <xs:restriction base="xs:string">
      <xs:length value="12" />
      <xs:pattern value="([A-Za-z0-9_]+\.[A-Z][A-Z])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VATCode_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
    <xs:restriction base="xs:string">
      <xs:maxLength value="14" />
      <xs:pattern value="([A-Z0-9]+)" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Characters700_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
    <xs:restriction base="xs:string">
      <xs:maxLength value="700" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Status_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
    <xs:restriction base="cl:StatusTypeList" />
  </xs:simpleType>
  <xs:complexType name="Action_Status" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Status">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="value" type="Status_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Status.value">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StreetDetail" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#StreetDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="addressGeneral" type="Characters70_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#StreetDetail.addressGeneral">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="addressGeneral2" type="Characters70_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#StreetDetail.addressGeneral2">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="addressGeneral3" type="Characters70_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#StreetDetail.addressGeneral3">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Characters10_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
    <xs:restriction base="xs:string">
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Characters35_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
    <xs:restriction base="xs:string">
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Characters2_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
    <xs:restriction base="xs:string">
      <xs:length value="2" />
      <xs:pattern value="[A-Z]*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TownDetail" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#TownDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="Characters35_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#TownDetail.name">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="country" type="Characters2_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#TownDetail.country">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StreetAddress" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#StreetAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="streetDetail" type="StreetDetail" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#StreetAddress.streetDetail">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="postalCode" type="Characters10_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#StreetAddress.postalCode">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="townDetail" type="TownDetail" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#StreetAddress.townDetail">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ElectronicAddress" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#ElectronicAddress">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="email1" type="Characters70_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#ElectronicAddress.email1">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Characters15_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
    <xs:restriction base="xs:string">
      <xs:maxLength value="15" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TelephoneNumber" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#TelephoneNumber">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ituPhone" type="Characters15_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#TelephoneNumber.ituPhone">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EICCode_MarketDocument" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#MarketDocument">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="mRID" type="EICCode_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="status" type="Action_Status" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Document.status">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="docStatus" type="Action_Status" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Document.docStatus">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="attributeInstanceComponent.attribute" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#AttributeInstanceComponent.attribute">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="long_Names.name" type="Characters70_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Name.name">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="display_Names.name" type="Characters16_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Name.name">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="lastRequest_DateAndOrTime.date" type="xs:date" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#DateAndOrTime.date">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="deactivationRequested_DateAndOrTime.date" type="xs:date" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#DateAndOrTime.date">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="eICContact_MarketParticipant.name" type="Characters70_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#IdentifiedObject.name">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="eICContact_MarketParticipant.phone1" type="TelephoneNumber" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Organisation.phone1">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="eICContact_MarketParticipant.electronicAddress" type="ElectronicAddress" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Organisation.electronicAddress">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="eICCode_MarketParticipant.streetAddress" type="StreetAddress" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Organisation.streetAddress">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="eICCode_MarketParticipant.aCERCode_Names.name" type="ACERCode_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Name.name">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="eICCode_MarketParticipant.vATCode_Names.name" type="VATCode_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Name.name">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="eICParent_MarketDocument.mRID" type="EICCode_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="eICResponsible_MarketParticipant.mRID" type="EICCode_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="description" type="Characters700_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#IdentifiedObject.description">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Function_Names" type="Function_Name" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#MarketDocument.Function_Names">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Function_Name" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Name">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="name" type="Characters70_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Name.name">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>