Tools/XML_VALIDATOR/XSD/CIM_2019-01-10/iec62325-451-6-balancing-4-0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ecl="urn:entsoe.eu:wgedi:codelists" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns="urn:iec62325.351:tc57wg16:451-6:balancingdocument:4:0" xmlns:cimp="http://www.iec.ch/cimprofile" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:iec62325.351:tc57wg16:451-6:balancingdocument:4:0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="urn-entsoe-eu-wgedi-codelists.xsd" namespace="urn:entsoe.eu:wgedi:codelists" />
  <xs:element name="Balancing_MarketDocument" type="Balancing_MarketDocument" />
  <xs:simpleType name="ID_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
    <xs:restriction base="xs:string">
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ESMPVersion_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
    <xs:restriction base="xs:string">
      <xs:pattern value="[1-9]([0-9]){0,2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MessageKind_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
    <xs:restriction base="ecl:MessageTypeList" />
  </xs:simpleType>
  <xs:simpleType name="ProcessKind_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
    <xs:restriction base="ecl:ProcessTypeList" />
  </xs:simpleType>
  <xs:simpleType name="PartyID_String-base" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
    <xs:restriction base="xs:string">
      <xs:maxLength value="16" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PartyID_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
    <xs:simpleContent>
      <xs:extension base="PartyID_String-base">
        <xs:attribute name="codingScheme" type="ecl:CodingSchemeTypeList" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="MarketRoleKind_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
    <xs:restriction base="ecl:RoleTypeList" />
  </xs:simpleType>
  <xs:simpleType name="ESMP_DateTime" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#DateTime">
    <xs:restriction base="xs:dateTime">
      <xs:pattern value="((([0-9]{4})[\-](0[13578]|1[02])[\-](0[1-9]|[12][0-9]|3[01])|([0-9]{4})[\-]((0[469])|(11))[\-](0[1-9]|[12][0-9]|30))T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)|(([13579][26][02468][048]|[13579][01345789](0)[48]|[13579][01345789][2468][048]|[02468][048][02468][048]|[02468][1235679](0)[48]|[02468][1235679][2468][048]|[0-9][0-9][13579][26])[\-](02)[\-](0[1-9]|1[0-9]|2[0-9])T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)|(([13579][26][02468][1235679]|[13579][01345789](0)[01235679]|[13579][01345789][2468][1235679]|[02468][048][02468][1235679]|[02468][1235679](0)[01235679]|[02468][1235679][2468][1235679]|[0-9][0-9][13579][01345789])[\-](02)[\-](0[1-9]|1[0-9]|2[0-8])T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AreaID_String-base" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
    <xs:restriction base="xs:string">
      <xs:maxLength value="18" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AreaID_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
    <xs:simpleContent>
      <xs:extension base="AreaID_String-base">
        <xs:attribute name="codingScheme" type="ecl:CodingSchemeTypeList" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="Status_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
    <xs:restriction base="ecl:StatusTypeList" />
  </xs:simpleType>
  <xs:complexType name="Action_Status" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Status">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="value" type="Status_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Status.value">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="YMDHM_DateTime" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#DateTime">
    <xs:restriction base="xs:string">
      <xs:pattern value="((([0-9]{4})[\-](0[13578]|1[02])[\-](0[1-9]|[12][0-9]|3[01])|([0-9]{4})[\-]((0[469])|(11))[\-](0[1-9]|[12][0-9]|30))T(([01][0-9]|2[0-3]):[0-5][0-9])Z)|(([13579][26][02468][048]|[13579][01345789](0)[48]|[13579][01345789][2468][048]|[02468][048][02468][048]|[02468][1235679](0)[48]|[02468][1235679][2468][048]|[0-9][0-9][13579][26])[\-](02)[\-](0[1-9]|1[0-9]|2[0-9])T(([01][0-9]|2[0-3]):[0-5][0-9])Z)|(([13579][26][02468][1235679]|[13579][01345789](0)[01235679]|[13579][01345789][2468][1235679]|[02468][048][02468][1235679]|[02468][1235679](0)[01235679]|[02468][1235679][2468][1235679]|[0-9][0-9][13579][01345789])[\-](02)[\-](0[1-9]|1[0-9]|2[0-8])T(([01][0-9]|2[0-3]):[0-5][0-9])Z)" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ESMP_DateTimeInterval" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#DateTimeInterval">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="start" type="YMDHM_DateTime" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#DateTimeInterval.start">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="end" type="YMDHM_DateTime" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#DateTimeInterval.end">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Balancing_MarketDocument" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#MarketDocument">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="mRID" type="ID_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="revisionNumber" type="ESMPVersion_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Document.revisionNumber">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="type" type="MessageKind_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Document.type">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="process.processType" type="ProcessKind_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Process.processType">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="sender_MarketParticipant.mRID" type="PartyID_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="sender_MarketParticipant.marketRole.type" type="MarketRoleKind_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#MarketRole.type">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="receiver_MarketParticipant.mRID" type="PartyID_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="receiver_MarketParticipant.marketRole.type" type="MarketRoleKind_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#MarketRole.type">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="createdDateTime" type="ESMP_DateTime" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Document.createdDateTime">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="docStatus" type="Action_Status" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Document.docStatus">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="controlArea_Domain.mRID" type="AreaID_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="allocationDecision_DateAndOrTime.dateTime" type="xs:dateTime" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#DateAndOrTime.dateTime">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="period.timeInterval" type="ESMP_DateTimeInterval" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Period.timeInterval">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeSeries" type="TimeSeries" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#MarketDocument.TimeSeries">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Amount_Decimal" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Decimal">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="17" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PriceDirection_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
    <xs:restriction base="ecl:PriceDirectionTypeList" />
  </xs:simpleType>
  <xs:complexType name="Financial_Price" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Price">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="amount" type="Amount_Decimal" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Price.amount">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="direction" type="PriceDirection_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Price.direction">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Position_Integer" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Integer">
    <xs:restriction base="xs:integer">
      <xs:maxInclusive value="999999" />
      <xs:minInclusive value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PriceCategory_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
    <xs:restriction base="ecl:PriceCategoryTypeList" />
  </xs:simpleType>
  <xs:simpleType name="DirectionKind_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
    <xs:restriction base="ecl:DirectionTypeList" />
  </xs:simpleType>
  <xs:complexType name="Point" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Point">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="position" type="Position_Integer" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Point.position">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="quantity" type="xs:decimal" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Point.quantity">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="secondaryQuantity" type="xs:decimal" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Point.secondaryQuantity">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="unavailable_Quantity.quantity" type="xs:decimal" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Quantity.quantity">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="activation_Price.amount" type="Amount_Decimal" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Price.amount">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="procurement_Price.amount" type="Amount_Decimal" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Price.amount">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="min_Price.amount" type="Amount_Decimal" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Price.amount">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="max_Price.amount" type="Amount_Decimal" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Price.amount">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="imbalance_Price.amount" type="Amount_Decimal" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Price.amount">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="imbalance_Price.category" type="PriceCategory_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Price.category">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="flowDirection.direction" type="DirectionKind_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#FlowDirection.direction">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Financial_Price" type="Financial_Price" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Point.Financial_Price">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Series_Period" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Period">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="timeInterval" type="ESMP_DateTimeInterval" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Period.timeInterval">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="resolution" type="xs:duration" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Period.resolution">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="Point" type="Point" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Period.Point">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="BusinessKind_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
    <xs:restriction base="ecl:BusinessTypeList" />
  </xs:simpleType>
  <xs:simpleType name="CapacityContractKind_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
    <xs:restriction base="ecl:ContractTypeList" />
  </xs:simpleType>
  <xs:simpleType name="MarketProductKind_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#MarketProductKind_String">
    <xs:restriction base="ecl:MarketProductTypeList" />
  </xs:simpleType>
  <xs:simpleType name="PsrType_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
    <xs:restriction base="ecl:AssetTypeList" />
  </xs:simpleType>
  <xs:simpleType name="CurrencyCode_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
    <xs:restriction base="ecl:CurrencyTypeList" />
  </xs:simpleType>
  <xs:simpleType name="MeasurementUnitKind_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
    <xs:restriction base="ecl:UnitOfMeasureTypeList" />
  </xs:simpleType>
  <xs:simpleType name="CurveType_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
    <xs:restriction base="ecl:CurveTypeList" />
  </xs:simpleType>
  <xs:simpleType name="ESMPBoolean_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#String">
    <xs:restriction base="ecl:IndicatorTypeList" />
  </xs:simpleType>
  <xs:complexType name="TimeSeries" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#TimeSeries">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="mRID" type="ID_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="businessType" type="BusinessKind_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#TimeSeries.businessType">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="acquiring_Domain.mRID" type="AreaID_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="connecting_Domain.mRID" type="AreaID_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="type_MarketAgreement.type" type="CapacityContractKind_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Document.type">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="standard_MarketProduct.marketProductType" type="MarketProductKind_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#MarketProduct.marketProductType">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="original_MarketProduct.marketProductType" type="MarketProductKind_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#MarketProduct.marketProductType">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="mktPSRType.psrType" type="PsrType_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#MktPSRType.psrType">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="flowDirection.direction" type="DirectionKind_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#FlowDirection.direction">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="currency_Unit.name" type="CurrencyCode_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Unit.name">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="quantity_Measure_Unit.name" type="MeasurementUnitKind_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Unit.name">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="price_Measure_Unit.name" type="MeasurementUnitKind_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Unit.name">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="curveType" type="CurveType_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#TimeSeries.curveType">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="cancelledTS" type="ESMPBoolean_String" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#TimeSeries.cancelledTS">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Period" type="Series_Period" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#TimeSeries.Period">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>